<h1>New song</h1>

<form id="new-song" name="song">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="file"> file:</label>
    <input type="text" name="file" id="file" value="<%= file %>" >
  </div>

  <div class="field">
    <label for="artist"> artist:</label>
    <input type="text" name="artist" id="artist" value="<%= artist %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Song" />
  </div>

</form>

<a href="#/index">Back</a>